.vscode/
.DS_Store
__pycache__/
*-checkpoint.ipynb
.venv
*.egg*
build/*
_C.*
outputs/*
checkpoints/*.pt
*.idea

/notebooks/videos/

/model_predict/
/save_predict/shoreline_jsons/csv/
/save_predict/shoreline_jsons/trevone/
/save_predict/shoreline_jsons/seabright/
/save_predict/shoreline_jsons/seabright_new/
/save_predict/shoreline_jsons/twinlakes/
/save_predict/shoreline_jsons/jennette_north/
/save_predict/shoreline_jsons/jennette_pier/
/save_predict/shoreline_jsons/shoreline_outputs/
/save_predict/shoreline_jsons/curve_boxplot_outputs/
/save_predict/shoreline_jsons/downloaded_webcoos_clips/

/save_predict/videos/

/save_predict/shoreline_jsons/curve_boxplot_outputs_per_clip/
/save_predict/shoreline_jsons/curve_boxplot_outputs/
/save_predict/shoreline_jsons/csv/
/save_predict/shoreline_jsons/csv/trevone/
/save_predict/shoreline_jsons/csv/trevone_rec/
/save_predict/shoreline_jsons/csv/twinlakes/
/save_predict/shoreline_jsons/csv/twinlakes_rec/
/save_predict/shoreline_jsons/csv/seabright/
/save_predict/shoreline_jsons/csv/seabright_rec/
/save_predict/shoreline_jsons/csv/seabright_new/
/save_predict/shoreline_jsons/csv/seabright_new_rec/
/save_predict/shoreline_jsons/csv/jennette_north/
/save_predict/shoreline_jsons/csv/trevone_smooth/
/save_predict/shoreline_jsons/csv/seabright_new_smooth/

/venv

package-list.txt
save_predict/shoreline_jsons/save_predict/shoreline_jsons/curve_boxplot_outputs_per_clip_jump_test2/jennettes_pier/curve_boxplot_summary.csv

/notebooks/temp/hls_*/